:root {
    --bg: #1D262D;
    --text: #F8F0E4;
}
html {
    scroll-behavior: smooth; 
}
a {
    color: var(--text); 
    text-decoration: wavy;
}

a:visited {
    color: var(--text);
}

a:hover, a:active {
    color: #19B6FF;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg);    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
    
}


.section-title {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #19B6FF;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}
  
.section {
    width: 50%;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    justify-content: center;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}

.footer {
    max-width: 1440px;
}

.footer-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.footer-item {
    padding: 0 150px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
}

.btn-link {
    width: 180px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;       
    font-weight: 500;
    color: var(--text);    
    background-color: transparent;
    border-color: #188BFF;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #188BFF inset, 0 0 0 0 #188BFF;
    transition: all 150ms ease-in-out;
    
}

.btn-link:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #188BFF inset, 0 0 10px 4px #188BFF;
}


